- @title = "Create Image"
= content_for :head do
  = javascript_include_tag "create_image"

= image_tag "mine.jpg", alt: "Conservatory of Flowers, San Francisco, CA"
%button(type="button") Create image
